# Jenkins dynamic credentials values.
# Do not commit this file. It is copied by Terraform/bootstrap and read by Jenkins only.
# Empty values are skipped. To create/update a credential, fill the variables referenced in configs/jenkins-credentials.json.

JENKINS_TOKEN=
JENKINS_TOKEN_ALT=
DOCKER_USERNAME=
DOCKER_PASSWORD=
ECR_CREDENTIALS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_CREDS_ACCESS_KEY_ID=
AWS_CREDS_SECRET_ACCESS_KEY=
AWS_CICD_ACCESS_KEY_ID=
AWS_CICD_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-2
AWS_ACCOUNT_ID=421454275266
ECR_REGISTRY=421454275266.dkr.ecr.ap-southeast-2.amazonaws.com
ASM_CICD_USERNAME=
ASM_CICD_PASSWORD=
GITHUB_CICD_USERNAME=
GITHUB_CICD_TOKEN=
GITHUB_USERNAME=
GITHUB_TOKEN=
GIT_USERNAME=
GIT_TOKEN=
REDBERYL_TECH_USERNAME=
REDBERYL_TECH_TOKEN=
GRAFANA_TOKEN=
GRAFANA_SERVICE_TOKEN=
SONAR_TOKEN=
SONAR_TOKEN_ALT=
SONAR1_TOKEN=
SONAR2_TOKEN=
SONAR_ADMIN_USERNAME=
SONAR_ADMIN_PASSWORD=
NODE_ID=
NODE_SSH_USERNAME=
NODE_SSH_PRIVATE_KEY_B64=
NODE_SSH_PASSPHRASE=
DEV_REMOTE_SSH_USERNAME=
DEV_REMOTE_SSH_PRIVATE_KEY_B64=
DEV_REMOTE_SSH_PASSPHRASE=
QA_REMOTE_SSH_USERNAME=
QA_REMOTE_SSH_PRIVATE_KEY_B64=
QA_REMOTE_SSH_PASSPHRASE=
SUPPORT_SSH_USERNAME=
SUPPORT_SSH_PRIVATE_KEY_B64=
SUPPORT_SSH_PASSPHRASE=
